# Dependencies
node_modules
.venv

# Git
.git
.gitignore

# Build outputs
dist
build
*.pyc
__pycache__

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode
.idea

# Logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Temporary files
temp_* 